body
{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color:#f5efed;
}


.container_dos
{
    background-color:#f5efed;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10 ,1fr);
    height: 100vw;
    width: 100vw;
    
}
.item-1
{
    background-color:#264653;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    border-radius: 50%;
    -webkit-animation:ping 3s ease-in-out infinite both;animation:ping 6s ease-in-out infinite both
}
.item-2
{
    background-color:#2a9d8f ;
    grid-column: 5 / 8;
    grid-row: 8 / 11;
    border-radius: 50%;
    -webkit-animation:ping 0s ease-in-out infinite both;animation:ping 3s ease-in-out infinite both
}
.item-3
{
    background-color:#f4a261 ;
    grid-column: 3 / 7;
    grid-row: 5 / 9;
    border-radius: 5px;
    border-radius: 50%;
    -webkit-animation:ping 2.5s ease-in-out infinite both;animation:ping 5s ease-in-out infinite both
}

.item-4
{
    background-color: #e9c46a ;
    grid-column: 8 / 10;
    grid-row: 5 / 7;
    border-radius: 5px;
    border-radius: 50%;
    -webkit-animation:ping 2s ease-in-out infinite both;animation:ping 6s ease-in-out infinite both
}

.item-5
{
    background-color: #e76f51 ;
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    border-radius: 5px;
    border-radius: 50%;
    -webkit-animation:ping 1s ease-in-out infinite both;animation:ping 7s ease-in-out infinite both
}

@-webkit-keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}@keyframes ping{0%{-webkit-transform:scale(.01);transform:scale(.01);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}